@import "_variables.scss";

/*
.class {
  @media screen and (min-width: 480px) {}
  @media screen and (min-width: 768px) {}
  @media screen and (min-width: 1024px) {}
  @media screen and (min-width: 1200px) {}
}
*/

.menu-button {
  @media screen and (min-width: 360px) {}
  
  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.options {
  @media screen and (min-width: 360px) {}

  @media screen and (min-width: 1024px) {
    display: flex;
  }
}


.image {
  @media screen and (min-width: 360px) {}

  @media screen and (min-width: 768px) {
    height: 428px;
  }

  @media screen and (min-width: 1024px) {
    background-image: url('images/banner.png');
  }
}

.title {
  @media screen and (min-width: 360px) {}

  @media screen and (min-width: 768px) {
    position: absolute;
    font-size: 36px;
    line-height: 42px;
    color: white;
    left: 8%;
    top: 230px;
    width: 360px
  }

  @media screen and (min-width: 1024px) {
    top: 235px;
    width: 595px;
  }
}

.searchbar {
  @media screen and (min-width: 360px) {}

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 330px;
    left: 8%;
    &__textfield {
      height: 44px;
      width: 640px;
    }
  }

  @media screen and (min-width: 1024px) {
    top: 295px;
    &__textfield {
      width: 540px;
    }
  }
}

.footer {
  @media screen and (min-width: 360px) {}

  @media screen and (min-width: 768px) {
    height: 60px;
  }
}

.credits {
  @media screen and (min-width: 360px) {}

  @media screen and (min-width: 768px) {
    position: absolute;
    width: auto;
    left: 5%;
    top: 40%;
  }
}

.terms {
  @media screen and (min-width: 360px) {}
  
  @media screen and (min-width: 768px) {
    position: absolute;
    width: auto;
    left: 75%;
    top: 40%;
  }
}