$light-text : #8E8E8E;
$arial-family : Arial, sans-serif;
%light-border {
  border: 1px solid #D8D8D8;
};

%app-bg {
  background: #E5E5E5;
};

%flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

%arial-bold {
  font-family: $arial-family;
  font-weight: bold;
}

%arial-normal {
  font-family: $arial-family;
  font-weight: normal;
}

%menu-rectangle {
  width: 53px;
  height: 9px;
  background: #FFF;
  position: absolute;
  left: 0%;
  right: 0%;
}

%options-values {
  @extend %arial-bold;
  font-size: 14px;
  text-align: center;
  color: white;
  text-decoration: none;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

%selected-tab {
  background: white;
  height: 5px;
  width: inherit;
}