//Content of the page except the image block
@import "_variables.scss";

.intro{
  width : 100%;
  position : relative;
  float : left;
  background : transparent;
  margin-top : 0;
  margin-bottom : 20px;
  

  &__title {
    @extend %header-values;
    font-size:34px;
    line-height : 1.5em;
    font-weight : 600;
    padding: 10px;
  }
  &__quoteby {
    font-size : 25px;
    color : $text-color;
    margin-left : 10px;
  }

  &__subtitle {
    @extend %header-values;
    font-size : 15px;
    line-height : 1.6em;
    border-bottom : $border-line;
    margin-top : 7px;
    padding: 10px;

    &--link {
      text-decoration : underline;
      color : $text-color;

      &:hover{
        color : $linkhover-color;  
      }
    }
  }
}

.final-block {
  background : transparent;
  margin-bottom : 30px;
  margin-top : 5px;
  float : left;
  border-top : $border-line;
  @extend %header-values;
  text-align : left;
  padding: 10px;

  &__title {
    font-size : 22px;
    line-height : 1.3em;
    color : $title-color;
    margin-top : 26px;
    padding-bottom : 5px;
    margin-bottom : 13px;
  }

  &__subtitle {
    font-size : 14px;
    line-height : 1.3em;
    color : $text-color;
    margin-bottom : 8px;
    padding-top : 3px;
    font-weight : 600;
  }

  &__text {
    @extend %text-values;
  }

  &__quotesection {
    float : left;
    width : 100%;
    margin-top : 20px;
    margin-bottom : 20px;
  }

  &__endblock {
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
    @extend %text-values;
  }
}

.quotebox{
  background : $quote-background;
  border : $border-line;
  color : $title-color;
  margin-top : 20px;
  margin-bottom : 20px;
  font-family : Palatino, sans-serif;
  font-weight : bold;
  font-size : 92%;
  padding : 16px;
  width : 96%;
  margin-left : 0;
  &__text {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
  }
}








