@import "_variables.scss";

@mixin footer-text {
  position: absolute;
  top:26px;
  color:white;
  font-size:14px;
  width: auto;
  height: fit-content;
  padding: 0;
}

.footer{
  position:relative;
  height:90px;
  width:auto;
  background-image:url(images/footer.png);
  background-repeat:repeat;
  
  
  
  &__left-text {
    @include footer-text;
    left: 20px;
    display: none;

    &--link {
      
      text-decoration:underline;
      color:$text-color;
      &:hover {
        color:$linkhover-color;
      }
    }
    
  }
  &__right-text{
    @include footer-text;
    right: 90px;
  }
  
}