@import "_variables.scss";

.row {
  padding: 0;
  margin: 0;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
  
}

.col-md-12 {
  padding : 0;
}

.col-md-4 {
  padding: 0;
  max-width: 100%;

  @media screen and (min-width: 768px) {
    max-width: 33.3%;
  }
  
}

.header {
  @media screen and (min-width: 768px) {
    height: 100px;
    .navlist {
      border-top:$border-line;
      border-bottom:$border-line;
      margin : 0;

      &__item {
        float: left;
        line-height:normal;
        margin-left:12px;
        border-bottom: 0;
      }
    }

    .logo{
      left:0;
      margin: 0;
    }
  }
}

.intro {
  @media screen and (min-width: 768px) {
    &__title {
      padding: 0;
      font-size:42px;
      padding-top:13px;
    }

    &__subtitle {
      padding: 0;
      padding-bottom: 18px;
    }
  }
}

.col-md-4{
  @media screen and (min-width: 768px) {
    .image-col{
      padding: 20px;
    }
  }
}

.col-md-12 {
  @media screen and (min-width: 768px) {
    .final-block{
      padding: 20px;
    }
  }
}

.raw-image {
  @media screen and (min-width: 768px) {
    width: 190px;
    height: 170px; 
  }

  @media screen and (min-width: 1024px) {
    width: 270px;
    height: 245px; 
    
  }

  @media screen and (min-width: 1200px) {
    width:328px;
    height:292px;
    
  }
}

footer {
  @media screen and (min-width: 480px) {
    .footer__left-text {
      display: inline;
      font-size: 15px;
    }

    .footer__right-text {
      font-size: 15px;
    }
  }

  @media screen and (min-width: 1024px) {
    .footer__left-text {
      left: 80px;
    }

    .footer__right-text {
      right: 80px;
    }
  }
}