@import "_variables.scss";

.navlist{
  position: relative;
  border-top:0;
  border-bottom:0;
  margin-top: 20px;
  margin-bottom: 40px;
  
  right:3px;
  top: 1px;
  
  flex-basis: 540px;

  &__item {
    float: none;
    margin-left: 25px;
    border-bottom: $border-line;
    
  }

  &__link {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color:$text-color;
    font-weight:normal;
    display:block;
    padding-bottom:10px;
    padding-top:5px;
    background-color:transparent;
    margin-top:5px;
    margin-right:6px;
    text-decoration:none;
    &:hover{
      color : $nav-item-color;  
    }
    &.current{
      color : $nav-item-hover-color;    
    }
  }
}

.logo{
  position:relative;
  float:left;
  left:18px;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  
}

.header{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: auto;
      
}