<div class="logo"></div>
<div class="menu-button">
  <div class="menu-button__rectangle-top"></div>
  <div class="menu-button__rectangle-mid"></div>
  <div class="menu-button__rectangle-bottom"></div>
</div>
<div class="options">
  <a class="options__directory" href="">
    Directorio de Agentes
    <div class="options__directory--selected"></div>
  </a>
  <a class="options__contact" href="">
    Contacto
    <div class="options__contact--selected"></div>
  </a>
  <a class="options__login" href="">
    Ingresar
    <div class="options__login--selected"></div>
  </a>
</div>